*{
    font-family:sans-serif;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('../images/bats.gif');
}

.pumpkin {
    float: left;
}

header {
    text-indent: 50px;
    background: linear-gradient(45deg, white, orange 75%, black);
    border: 3px solid black;
    border-left: none;
    border-right: none;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    width: 800px;
    border: 5px black solid;
    box-shadow: 0 10px 10px 5px black;
    margin: auto;
}

h1 {

}

h2 {
    font-size: 25px;
}
h2::first-letter{
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

a {
    color: orange;
    font-weight: bold;   
}
a:hover{
    color: green;
}

li {
    margin: 0 0 10px 0;
}

footer {
    height: 50px;
    line-height: 50px;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
    text-align: center;
    font-size: 10px;
    background: linear-gradient(45deg, black, orange 25%, white);  
}